---
title: Home
description: Mobility Observer helps cities work toward a smarter future.
image: /images/street_rails.jpg
bottom_image: /images/parked_bike.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Mobility Observer</h1>
			<p class="subtext editable">Mobility Observer helps businesses and governments work toward a smarter future.</p>
			<div class="cta button alt"><a href="/contact">Contact Us</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Mobility Data</h2>
				<p class="editable">We work with your collected data sets to organize and uncover actionable insights.</p>
			</div>
			<div class="image">
				<img class="editable" src="/mo-website/images/data.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Mobility Planning Software</h2>
				<p class="editable">We build web applications to help organizations and governments effectively understand and take action on their mobility data.</p>
			</div>
			<div class="image">
				<img class="editable" src="/mo-website/images/mo_software.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Results-Oriented Processes and Strategy</h2>
				<p class="editable">Understanding data is just the tip of the iceberg. We work with stakeholders within your organization to improve processes around acquiring, managing and extracting insight from data. We then work within the organization to plan for how useful information can be delivered to the right people at the right time.</p>
			</div>
			<div class="image">
				<img class="editable" src="/mo-website/images/strategy.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Work with us today.</h2>
				<p class="subtext editable">Uncover your data's hidden potential.</p>
				<div class="cta button alt"><a href="/contact">Contact Us</a></div>
			</div>
		</div>
	</section>
</div>
